---
import BaseLayout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h2>{frontmatter.title}</h2>
  <div class="center">
    <img
      class="pro-img"
      width="500px"
      height="auto"
      src={frontmatter.image.url}
      alt={frontmatter.image.alt}
    />
  </div>
  <ul class="badge__list">
    <li>
      <span class="badge badge--item">TYPE</span>{frontmatter.platform}
    </li>
    <li>
      <span class="badge badge--item">TECH</span>{frontmatter.stack}
    </li>
    {
      frontmatter.website && (
        <li>
          <>
            <span class="badge badge--item">WEBSITE</span>
            <a class="badge__link" href={frontmatter.website} target="_blank">
              {frontmatter.website}
            </a>
          </>
        </li>
      )
    }
    {
      frontmatter.github && (
        <li>
          <>
            <span class="badge badge--item">GITHUB</span>
            <a class="badge__link" href={frontmatter.github} target="_blank">
              {frontmatter.github}
            </a>
          </>
        </li>
      )
    }
  </ul>
  <slot />
</BaseLayout>
